<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

      <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- sms pay 短信代扣权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- bank 卡支付 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 易联2.0 基础权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 易联2.0  照相的权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <!-- 易联2.0  录像需要的权限 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.NFC" />
    

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:screenOrientation="landscape"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <!-- 力天SDK界面 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.TermsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.RetrievePwdActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.RetrievePwdSetActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 个人中心 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.UserInfoActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 我的交易 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.MyTradeActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.PayCenterActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.FeedBackActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.FeedbackConversationActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 公告详情 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.NoticeDetailActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 公告列表 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.NoticeActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <!-- 通用webview -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.WebViewActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <!-- 修改密码 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.UpdatePwdActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 反馈提交 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.activitys.SubmitFeedbackActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 选择图片 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.widget.photopicker.PhotoPickerActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 浏览图片 -->
        <activity
            android:name="com.ltsdkgame.sdk.view.widget.photoview.ImagePagerActivity"
            android:screenOrientation="behind"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
 	

        <!-- 微支付SDK界面 -->
        <!-- 登录界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.LoginActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 注册界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.RegistActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 注册界面 》设置登录支付密码 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.RegSetPwdActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 显示网页界面 -->
        <activity
            android:name="com.iapppay.account.channel.ipay.ui.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountCheckPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.pay.channel.weixinpay.WeixinWapPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.iapppay.ui.activity.AccountModifyPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountSmallAmountPasswordActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountSmallAmountValueActivty"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.ServiceCenterActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.AccountBindActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.InputBankCarNoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.InputBankCarMoreInfoActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.VerificationCodeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.fastpay.ui.CommonWebActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 收银台-普通 -->
        <activity
            android:name="com.iapppay.ui.activity.normalpay.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 收银台-爱贝快付 -->
        <activity
            android:name="com.iapppay.ui.activity.minipay.MiniPayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 收银台-爱贝币 -->
        <activity
            android:name="com.iapppay.ui.activity.iapppay.IAppPayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 选择充值金额界面 -->
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.minipay.BankCardActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.normalpay.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 游戏卡和话费卡界面 -->
        <activity
            android:name="com.iapppay.pay.channel.gamepay.GamepayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 支付结果返回 -->
        <activity
            android:name="com.iapppay.pay.channel.unionpay.UpPayResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 银联3.3.3start -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="app_name"
            android:screenOrientation="behind" />
        <!-- 银联3.3.3 end -->

        <!-- alipay sdk begin (新的支付宝) -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <!-- alipay sdk end -->

        <!-- 财付通wap start -->
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.TenpayWapPayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.iapppay.pay.channel.tenpay.wap.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 财付通wap end -->
        
        
        
        
        	<!-- LITIAN_CHANNEL的value请勿修改!-->
        <meta-data
            android:name="LITIAN_CHANNEL"
            android:value="SDK_LT" />
         <meta-data
            android:name="QBSDKAppKey"
            android:value="TRDhb+Ojol3bP7w+JTGTSnXN" />
         
         <!-- 上面的不需要改 -->
         
         
           <!-- LITIAN_CPID的value请记得替换成自己的cpid!-->
        <meta-data
            android:name="LITIAN_CPID"
            android:value="jjcq20170705_178_373" />
        
        <meta-data
            android:name="CallbackUrl"
            android:value="https://api.sdk.75757.com/pay/notify/4265965750/" />
       

        <meta-data
            android:name="app_id"
            android:value="kk4265965750" />
      
        <meta-data
            android:name="isLandscape"
            android:value="true" />
    
    </application>

</manifest>