<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.muzhiwan.plugin.LActivityProxy"
            android:theme="@android:style/Theme.Translucent" 
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"/>
        <service android:name="com.muzhiwan.plugin.service.LProxyService" />
      
        <meta-data  android:name="MZWAPPKEY"  android:value="eefc49c61bdf61d547ba7f79f95dd1da" />
        <meta-data  android:name="mzw_channel"  android:value="mzw" />
        <meta-data android:name="mzw_cps" android:value="mzw" />
        <meta-data android:name="mzw_sdk" android:value="3370" />
        <meta-data android:name="DEBUG" android:value="true" />
      <!-- 手游互联配置 -->
     	 <meta-data
            android:name="app_id"
            android:value="kk3644629505" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
       <!-- 是否为调试模式 -->
        <meta-data
            android:name="isdebug"
            android:value="true" />
    
    </application>

</manifest>