<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skymobi.moposnsplatsdk"
    android:versionCode="3008"
    android:versionName="3.008" >

    <uses-sdk android:minSdkVersion="8" 
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <application
        android:name="com.skymobi.moposnsplatsdk.application.MoposnsPlatApplication"
        android:icon="@drawable/sm_icon"
        android:label="@string/app_name_skypay" 
        android:allowBackup="true">
         <!-- 指盟sdk配置内容 -->
        <activity
            android:name="com.skymobi.pay.sdk.normal.zimon.EpsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:exported="true" />

        <service android:name="com.skymobi.pay.sdk.normal.zimon.EpsService" />
        <service android:name="com.skymobi.pay.sdk.normal.zimon.sms.PayCtrlService" />
        <service android:name="com.skymobi.pay.sdk.normal.zimon.sms.SkyPayRemoteService" />

        <receiver
            android:name="com.skymobi.pay.sdk.normal.zimon.EpsReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.skymobi.pay.plugin.advert" />
                <action android:name="com.skymobi.pay.plugin.recordupload" />
                <action android:name="com.skymobi.pay.plugin.push" />
                <action android:name="com.skymobi.pay.action.plugin" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="ZMMerchantId"
            android:value="11422" />
        <meta-data
            android:name="ZMAppId"
            android:value="300001" />

        <meta-data
            android:name="ZMOtherEnv"
            android:value="false"/>

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <activity
            android:name="com.unicom.wostore.unipay.paysecurity.SecurityActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:configChanges="screenSize|orientation">
        </activity>

        <service  android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework"/> 
		<!-- 指盟sdk配置内容 -->
    </application>

</manifest>