<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

   <!-- 游龙手游SDK 权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MM_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="xvtian.gai.receiver" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        
             <!-- 游龙手游SDK 闪屏Demo -->
        <activity
            android:name="com.ylwl.sdk.demo.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ylsdk.deep19196.activity.CardPayWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.ylsdk.deep19196.activity.CMBCWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.ylsdk.deep19196.activity.MyCustomerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.ylsdk.deep19196.activity.PayCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ylsdk.deep19196.activity.PersonalIofoEditActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.ylsdk.deep19196.activity.YXWebGameCenterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.ylsdk.deep19196.activity.YLRNHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.ylsdk.deep19196.activity.YLRNDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.shengpay.express.smc.ExpressSmcClientActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ylsdk.deep19196.paytend.wxpay.paytendWXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name="com.ylsdk.deep19196.paytend.sdk.AppReciver" >
            <intent-filter>
                <action android:name="com.paytend.wxpay.plugin.recive" />
            </intent-filter>
        </receiver>

		<!-- v3.1新增 -->
        <activity
            android:name="com.ylsdk.deep19196.pudpay.PudWXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- v3.2 此版本此配置有变动， action内容为： 包名 + ".com.pudding.wechat.pay.recive"  -->
        <receiver android:name="com.ylsdk.deep19196.pudpay.PudAppReciver" >
            <intent-filter>
                <action android:name="com.ylwl.sdk.demo.com.pudding.wechat.pay.recive" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="introduction"
            android:value="0" />
        <meta-data
            android:name="sourceid"
            android:value="0" />
        <meta-data
            android:name="other"
            android:value="0" />
        
        
       <!--  游龙配置   demo测试要手动更改assets下yl_game_config中的值-->
        <meta-data
            android:name="pid"
            android:value="104955" />
        <meta-data
            android:name="pkey"
            android:value="d5f0dc410786519473d9bf7f588ef651" />
        <meta-data
            android:name="appversion"
            android:value="1.0" />
        
        
      <!-- 手游互联配置 -->
     	 <meta-data
            android:name="app_id"
            android:value="kk3675341212" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
    
    </application>

</manifest>